    .headerContex {
        cursor: pointer;
        display: flex;
        height: 180px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .img {
        height: 170px;
        width: 150px;
    }
    
    .sepet {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .sayacı {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
        color: white;
        z-index: 10px;
        border-radius: 360%;
        left: -63px;
        bottom: 15px;
    }